# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\copy\5698\Revenue_Report\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
