.button {
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-font-size: 15;
    -fx-border-radius:  1 1 1 1;
}

.jfx-date-picker .input-line{
    -fx-border-color:  #0fc649;
}
.root{
    -fx-background-color: #cdfce2;
}
.spinner {
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-background-color: none;
    -fx-padding: 0 0 3 0;
}
.spinner .increment-arrow-button{
    -fx-border-radius: 0 15 0 0;
    -fx-border-width: 0 0 0 0;
}
.spinner .decrement-arrow-button{
    -fx-border-radius: 0 0 15 0;
    -fx-border-width: 0 0 0 0;
}
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed,
.spinner .text-field{

    -fx-background-color: #F5F6F7;
    -fx-border-width: 0 0 5 0;

}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button{
    -fx-background-color: transparent;
    -fx-border-color: #007d09;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #007d09;
    -fx-font-size: 15px;
}

.spinner .text-field {
    -fx-background-color: #F5F6F7;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0aab27;
    -fx-border-radius: 0 0 0 0;
}

#btnEnter {
    -fx-background-color: #007d09;
    -fx-text-fill:  #F5F6F7;
    -fx-font-weight: bold;
}

#btnEnter:hover {
    -fx-background-color: #045516;
    -fx-text-fill:  #F5F6F7;
    -fx-font-weight: bold;
}

#btnEnter:pressed:hover {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-color: #0e150c;

}

#btnClear {
    -fx-background-color: #0484bf;
    -fx-text-fill:  #ffffff;
    -fx-font-weight: bold;
}
#btnClear:hover {
    -fx-background-color: #01415a;
    -fx-text-fill:  #F5F6F7;
    -fx-font-weight: bold;
}
#btnClear:hover:pressed {
    -fx-background-color: #01415a;
    -fx-text-fill:  #F5F6F7;
    -fx-font-weight: bold;
}
#btnDelete {
    -fx-background-color: #212853;
    -fx-text-fill:  #ffffff;
    -fx-font-weight: bold;
}
#btnDelete:hover {
    -fx-background-color: #01415a;
    -fx-text-fill:  #F5F6F7;
    -fx-font-weight: bold;
}
#btnDelete:hover:pressed {
    -fx-background-color: #01415a;
    -fx-text-fill:  #F5F6F7;
    -fx-font-weight: bold;
}

#btnClearEntr {
    -fx-background-color: #e72e27;
    -fx-text-fill:  #FFFFFF;
    -fx-font-weight: bold;
}
#btnClearEntr:hover {
    -fx-background-color: #bf0505;
    -fx-text-fill:  #FFFFFF;
    -fx-font-weight: bold;
}
#btnClearEntr:hover:pressed {
    -fx-background-color: #9b2526;
    -fx-text-fill:  #FFFFFF;
    -fx-font-weight: bold;
}
#btnClose {
    -fx-border-width:0.5;
    -fx-border-color:  #ff2f2f;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-background-color: #f53333;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}
#btnClose:hover {
    -fx-border-width:0.5;
    -fx-border-color:  #ff2f2f;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-background-color: #e0345c;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

#btnClose:pressed:hover {
    -fx-border-width:0.5;
    -fx-border-color:  #ff2f2f;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-color: #8d0606;

}
#btnSaveEntries{
    -fx-background-color: #007d07;
    -fx-text-fill:  #F5F6F7;
    -fx-font-weight: bold;
}
#btnSaveEntries:hover {
    -fx-background-color:#03531e;
    -fx-text-fill:  #FFFFFF;
    -fx-font-weight: bold;
}
#btnSaveEntries:pressed:hover {
    -fx-background-color:#0e150c;
    -fx-text-fill:  #FFFFFF;
    -fx-font-weight: bold;
}
#lblTitle{
    -fx-text-fill:  #FFFFFF;
    -fx-font-weight: bold;
}

#topPane{
    -fx-background-color: #27b52b;
}

.combo-box-base .text{
    -fx-fill: #03531e;
    -fx-background-color: none;
    -fx-padding: 0 0 3 0;
}

.combo-box{
    -fx-background-color: none;
    -fx-padding: 0 0 1 0;
}
.combo-box-base .text-field{
    -fx-prompt-text-fill: #057c0a;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #007d07;
}
.combo-box {
    -fx-border-width: 0 0 0.9 0;
    -fx-border-color: #007d07;
}
.combo-box-base .arrow-button{
    -fx-background-color: none;
}
.combo-box-base .text-input{
    -fx-background-color: none;
}
.combo-box-base{
    -fx-background-color: none;
}
.combo-box-base .arrow-button .arrow{
    -fx-background-color: #055B18;
}

.text-field{
    -fx-background-color: none;
    -fx-prompt-text-fill: #08400c;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #03a00b;
}