

#btnClose:hover {
    -fx-background-color: #e0345c;
    -fx-text-fill: #ffffff;
    -fx-font-weight: 10;
}

#btnClose:pressed:hover {
    -fx-text-fill: #ffffff;
    -fx-font-weight: 10;
    -fx-background-color: #8d0606;

}
